@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

:root {
  --content-text-max-width: 920px;

  --color-background: #fff;
  --color-text: #191a19;
  --color-link: #ee184a;
  --color-primary: #000000;
  --color-secondary: #191a19;

  --font-family: "Commissioner", sans-serif;

  --font-size-xl: 8rem;
  --font-size-lg: 4rem;
  --font-size-md: 2rem;
  --font-size-sm: 1rem;
  --font-size-xs: 0.5rem;

  --font-weight-black: 900;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --font-weight-light: 100;

  --border-radius: 0.5rem;

  --gallery-mix-expression: color-mix(in srgb, var(--color-background) 100%, transparent);
  --gallery-img-padding: 0.4rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-text) !important;
  }
}

// Controls the Thretle Studio overlay
.tp-dfwv {
  position: fixed !important;
  z-index: 100;
}

.markdown {
  line-height: 1.5rem;

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-text);
    font-weight: var(--font-weight-light);
    text-transform: uppercase;

    display: flex;
    align-items: center;

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background-color: var(--color-secondary);
      margin-left: 1rem;
    }
  }

  h2, h3, h4, h5, h6 {
    margin-top: 2.5rem;
  }

  h1 {
    font-size: var(--font-size-md);
  }

  pre {
    background: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    overflow: auto;
  }
}
